$spacing: 20px;

$spacing--xlarge: $spacing * 2;
$spacing--large: $spacing * 1.5;
$spacing--small: $spacing * 0.5;
$spacing--xsmall: $spacing * 0.25;
$spacing--xxsmall: $spacing * 0.125;

$icon-size: 1.5rem;
$icon-size--xlarge: $icon-size * 2;


